<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <style>
        /* Black table */
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: black;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111111;
        }
    </style>
    <meta charset="UTF-8">
    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<ul>
    <li><a th:href="@{/}" th:text="Movies">Movies</a></li>
    <li><a th:href="@{/actor_index}" th:text="Actors">Actors</a></li>
</ul>

<div class="container">

    <h1 style="font-family: 'Arial Black'">Create Movie</h1>
    <form method="Post" th:action="@{/create}">

        <p>Title: </p><input type="text" size="40" th:field="${movie.title}"/>
        <br><br>
        <p>Year: </p><input type="number" size="40" th:field="${movie.productionYear}"/>
        <br><br>
        <p>Duration: </p><input type="text" size="40" th:field="${movie.duration}"/>
        <br><br>
        <!--<select name="movie" th:field="${movie.genre.idgenre}">
            <option value="movie.genre">Action</option>
            <option value="Romance">Romance</option>
            <option value="Thriller">Thriller</option>
            <option value="Comedy">Comedy</option>
        </select> -->
        <p>Genre: </p><input type="text" size="40" th:field="${movie.genre.genre}"/>
        <br>
        <br>
        <h4 style="font-family: 'Arial Black'">Actor</h4>
        <p>First name: </p><input type="text" size="40" th:field="${movie.actor.firstName}"/>
        <br><br>
        <p>Last name: </p><input type="text" size="40" th:field="${movie.actor.lastName}"/>
        <br><br>
        <input type="submit" class="btn btn-success" value="Create">

    </form>
</div>

</body>
</html>